/* color palette - https://www.colourlovers.com/palette/4775628/Cyberpunk_2077 */
:root {
  --bg-color: #000000;
  --main-color: #f3e600;
  --secondary-color: #04daf6;
  --accent-color: #ff003c;
  --text-color: #ffffff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'RobotoRegular', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  /* Border for testing */
  /* border: 1px solid #000; */
}

h1,
h2 {
  color: var(--text-color);
  padding: 6px;
  margin: 0px auto;
}

button {
  border-width: 0px;
  cursor: pointer;
}

#btn-generate-lich,
#btn-check-combination,
#btn-github {
  font-size: 1rem;
  padding: 6px;
  margin: 12px auto;
  border-radius: 20px;
  transition-duration: 0.66s;
}

.btn-sign-visibility {
  border-width: 1px;
  font-size: 1rem;
  padding: 6px;
  margin: 6px 6px;
  border-radius: 20px;
  transition-duration: 0.33s;
}

@media (hover: hover) and (pointer: fine) {
  #btn-generate-lich:hover,
  #btn-check-combination:hover,
  #btn-github:hover,
  .btn-sign-visibility:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
  }
  .all-signs-container:hover {
    background-color: var(--secondary-color);
  }
  .empty-box:hover,
  .user-sign-container:hover {
    background-color: var(--secondary-color);
  }
}

.popup {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--text-color);
  opacity: 0;
  transition: opacity 333ms ease-in-out;
}

.all-signs-container {
  background-color: var(--main-color);
  border-radius: 20px;
  width: 316px;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.66s;
}

.sign-container {
  display: flex;
  width: 100px;
  height: 168px;
  flex-direction: column;
}

#sign1-container,
#sign2-container,
#sign3-container {
  display: none;
  flex-direction: column;
}

.image,
.selectable-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.sign-name {
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
}

#user-combination-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-user-signs-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  transition-duration: 0.66s;
}

.selectable-signs-container {
  display: flex;
  width: 316px;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.66s;
}

.user-sign-container,
.empty-box {
  border-radius: 20px;
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.66s;
}

.selectable-sign-name {
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px auto;
}

.selected {
  background-color: var(--accent-color);
}

@keyframes highlight {
  0% {
    background-color: var(--main-color);
  }
  50% {
    background-color: var(--secondary-color);
  }
  100% {
    background-color: var(--main-color);
  }
}

.highlight-animation {
  animation: highlight 2s ease-in-out infinite;
}
